# Check that there is correct spelling in all files
name: Check spelling

on:
  push:
  pull_request:
  schedule:
  - cron: "0 0 16 * *"


jobs:
  check_spelling:

    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:

      - name: Set up Git repository
        uses: actions/checkout@v2

      - name: Remove folders that do not care about spelling
        run: |
          rm -rf DevelopmentDesign
          rm -rf feedback

      - uses: igsekor/pyspelling-any@v0.0.2
